<div class="dish" data-postID={{postID}}>
  <div class="info">
    <div class="dish-name">{{dishName}}</div>
    <div class="seller-name">{{sellerName}}</div>
    <div class="dish-price">${{price}}</div>
  </div>
  <img src={{imgUrl}} alt="" />
  <div class="checkout-btn-container" data-error="Error">
    <div class="quantity-container">
      <label class="qty-label" style="margin-right: 1em; font-weight: 600;">Quantity</label>
      <div class="ui input focus">
        <input class="quantity-input" type="text" placeholder="5" value="1" max={{quantity}} />
      </div>
    </div>
    <div class="cart-btn ui button blue" tabindex="0">
      Add to cart
    </div>
  </div>
</div>