<tr>
  <td data-label="order-id">{{orderID}}</td>
  <td data-label="dish-name">{{dishName}}</td>
  <td data-label="quantity">{{quantity}}</td>
  <td data-label="customer-name">{{customerName}}</td>
  <td data-label="total">${{subtotal}}</td>
</tr>