<div class="item order-item" data-postID="{{postID}}" data-price="{{price}}">
  <div class=" ui smaller image">
    <img src={{imgUrl}} />
  </div>
  <div class="content">
    <div class="header">{{dishName}}</div>
    <div class="meta">
      <span class="price">${{subtotal}}</span>
      <span class="quantity">Qty: {{quantity}}</span>
    </div>
  </div>
  <i class="x icon"></i>
</div>